.c-sponsors {
  margin-bottom: 4rem;

  &__title {
    font-size: 2rem;
    margin-top: 2em;
    text-align: center;

    @media(--s) {
      font-size: 2.75rem; /* 44 */
      line-height: 1.090909091; /* 48 */
    }
  }

  &__logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__logo {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1.5rem;

    &--main {
      flex-basis: 50%;

      @media(--l) {
        flex-basis: calc(100% / 3);
      }
    }

    &--supporting,
    &--community {
      flex-basis: calc(100% / 3);

      @media(--l) {
        flex-basis: calc(100% / 4);
      }
    }
  }

  &__image {
    display: block;
  }

  &--footer {
    margin-bottom: 0;
    overflow: hidden;
    background-color: var(--c-big-pink);
  }

  &--footer &__logo {
    padding: 1rem;

    &--main,
    &--supporting,
    &--community {
      flex-basis: calc(100% / 2);

      @media(--m) {
        flex-basis: calc(100% / 3);
      }
    }
  }

  &--footer &__image {
    padding: 1.5rem;
    background-color: var(--c-white);
  }
}
