@font-face {
  font-family: "GT Walsheim Pro Regular";
  src: url('../fonts/GT-Walsheim-Regular.eot');
  src: url('../fonts/GT-Walsheim-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/GT-Walsheim-Regular.woff') format('woff'),
       url('../fonts/GT-Walsheim-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "GT Walsheim Pro Medium";
  src: url('../fonts/GT-Walsheim-Medium.eot');
  src: url('../fonts/GT-Walsheim-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/GT-Walsheim-Medium.woff') format('woff'),
       url('../fonts/GT-Walsheim-Medium.ttf') format('truetype');
}

:root {
  --ff-sans-serif-regular: "GT Walsheim Pro Regular", sans-serif;
  --ff-sans-serif-medium: "GT Walsheim Pro Medium", sans-serif;
}
