<div class="c-diversity-supporters">
  <h2 class="c-diversity-supporters__title">Scholarship Supporters</h2>
  <p class="paragraph--is-indented mw7">
    We are very grateful and would like to say a big ❤️ <strong>Thank You</strong> ❤️ to the companies and individuals who donated to our <a href="/scholarships/">Scholarship Program</a>:
  </p>
  <ul class="c-diversity-supporters__list paragraph--is-indented pl3">
    <li><a href="https://blog.cssconf.eu/2017/12/29/mercedes-benz-io-sponsors-scholarships/">Mercedes-Benz.io</a></li>
    <li>Ambika Castle</li>
    <li>Christoffer Sörensen</li>
    <li><a href="https://confrere.com/features/">Ida Aalen and Dag-Inge Aas</a></li>
    <li>Jannis Hell</li>
    <li>Justine Arreche</li>
    <li><a href="http://www.kosmar.de">kosmar.de</a></li>
    <li>Marc Dahlenburg</li>
    <li>Michael Schultze</li>
    <li>Morgan Cugerone</li>
    <li>Niklas Postulart</li>
    <li>Steini</li>
    <li>Thibault Beyer</li>
    <li>Travis CI GmbH</li>
    <li>Whitney Williams</li>
  </ul>
  <p class="tr">
    … and more anonymous supporters.
  </p>
</div>
