<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ contents.icons['apple-touch-icon-57x57.png'].url }}" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ contents.icons['apple-touch-icon-114x114.png'].url }}" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ contents.icons['apple-touch-icon-72x72.png'].url }}" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ contents.icons['apple-touch-icon-144x144.png'].url }}" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ contents.icons['apple-touch-icon-60x60.png'].url }}" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ contents.icons['apple-touch-icon-120x120.png'].url }}" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ contents.icons['apple-touch-icon-76x76.png'].url }}" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ contents.icons['apple-touch-icon-152x152.png'].url }}" />

<link rel="icon" type="image/png" href="{{ contents.icons['favicon-196x196.png'].url }}" sizes="196x196" />
<link rel="icon" type="image/png" href="{{ contents.icons['favicon-96x96.png'].url }}" sizes="96x96" />
<link rel="icon" type="image/png" href="{{ contents.icons['favicon-32x32.png'].url }}" sizes="32x32" />
<link rel="icon" type="image/png" href="{{ contents.icons['favicon-16x16.png'].url }}" sizes="16x16" />
<link rel="icon" type="image/png" href="{{ contents.icons['favicon-128.png'].url }}" sizes="128x128" />

<meta name="application-name" content="CSSconf EU 2017"/>
<meta name="msapplication-TileColor" content="#2176FF" />
<meta name="msapplication-TileImage" content="{{ contents.icons['mstile-144x144.png'].url }}" />
<meta name="msapplication-square70x70logo" content="{{ contents.icons['mstile-70x70.png'].url }}" />
<meta name="msapplication-square150x150logo" content="{{ contents.icons['mstile-150x150.png'].url }}" />
<meta name="msapplication-wide310x150logo" content="{{ contents.icons['mstile-310x150.png'].url }}" />
<meta name="msapplication-square310x310logo" content="{{ contents.icons['mstile-310x310.png'].url }}" />
