<link rel="apple-touch-icon" href="{{ contents.icons['apple-touch-icon.png'].url }}" />

<link rel="icon" type="image/png" href="{{ contents.icons['favicon-16x16.png'].url }}" sizes="16x16" />
<link rel="icon" type="image/png" href="{{ contents.icons['favicon-32x32.png'].url }}" sizes="32x32" />

<link rel="icon" type="image/png" href="{{ contents.icons['android-chrome-192x192.png'].url }}" sizes="192x192" />
<link rel="icon" type="image/png" href="{{ contents.icons['android-chrome-256x256.png'].url }}" sizes="256x256" />

<meta name="application-name" content="CSSconf EU 2018"/>
