<footer class="footer bg--blue-dark tc">
  <div class="container mini">
    <a href="/code-of-conduct/" class="link--footer">Code of Conduct</a>
    <a href="/diversity-support-tickets/" class="link--footer">Diversity Support Tickets</a>
    <a href="/childcare/" class="link--footer">Childcare</a>
    <a href="/accessibility/" class="link--footer">Accessibility Statement</a>
    <a href="/call-for-speakers/" class="link--footer">Call for Speakers</a>
    <br>
    <a href="mailto:contact@cssconf.eu" class="link--footer">contact@cssconf.eu</a>
    <a target="_blank" href="https://twitter.com/cssconfeu" class="link--footer">Twitter</a>
    <a target="_blank" href="https://www.facebook.com/cssconfeu/" class="link--footer">Facebook</a>
    <a target="_blank" href="https://plus.google.com/+CssconfEu/" class="link--footer">Google+</a>
    <a target="_blank" href="https://www.youtube.com/playlist?list=PL37ZVnwpeshF0XmpjKBJ3-0kvr3b5ZpJR" class="link--footer">Youtube</a>
    <a target="_blank" href="{{ site.newsletter_url }}" class="link--footer">Subscribe to our Newsletter</a>
  </div>
</footer>
