<footer class="c-footer-global">
  <nav class="c-nav-pages">
    <ul class="c-nav-list c-nav-list--footer-global">
      <li>
        <a class="c-nav-list__anchor" href="{{ contents['accessibility.json'].url }}">Accessibility</a>
      </li>
      <li>
        <a class="c-nav-list__anchor" href="{{ contents['scholarships.json'].url }}">Scholarships</a>
      </li>
      <li>
        <a class="c-nav-list__anchor" href="{{ contents['childcare.json'].url }}">Childcare</a>
      </li>
      <li>
        <a class="c-nav-list__anchor" href="{{ contents['code-of-conduct.json'].url }}">Code of Conduct</a>
      </li>
      <li>
        <a class="c-nav-list__anchor" href="{{ contents['sponsors.json'].url }}">Sponsors</a>
      </li>
      <li>
        <a class="c-nav-list__anchor" href="https://jsconf.us11.list-manage.com/subscribe?u=7a8adcde0f3c219f61b12a94c&id=ca2a86b0bd">Newsletter</a>
      </li>
      <li>
        <a class="c-nav-list__anchor" href="{{ contents['imprint.json'].url }}">Imprint</a>
      </li>
      <li>
        <a class="c-nav-list__anchor" href="{{ contents['privacy-policy.json'].url }}">Privacy Policy</a>
      </li>
      <li>
        <a class="c-nav-list__anchor"
           href="mailto:{{ email }}">
          {{ email }}
        </a>
      </li>
    </ul>
  </nav>
  <div class="c-sponsor-footer c-sponsors--footer">
    <div class="l-container l-container--xl">
      {% include '../partials/sponsors-gallery.html.njk' %}
    </div>
  </div>
  <nav class="c-nav-social">
    <ul class="c-nav-list c-nav-list--footer-global">
      <li>
        <a class="c-nav-list__anchor c-nav-list__anchor--social"
           target="_blank"
           href="https://github.com/cssconf/2018.cssconf.eu">
          GitHub
        </a>
      </li>
      <li>
        <a class="c-nav-list__anchor c-nav-list__anchor--social"
           target="_blank"
           href="https://www.facebook.com/cssconfeu/">
          Facebook
        </a>
      </li>
      <li>
        <a class="c-nav-list__anchor c-nav-list__anchor--social"
           target="_blank"
           href="https://twitter.com/cssconfeu">
          Twitter
        </a>
      </li>
      <li>
        <a class="c-nav-list__anchor c-nav-list__anchor--social"
           target="_blank"
           href="https://plus.google.com/+CssconfEu/">
          Google+
        </a>
      </li>
      <li>
        <a class="c-nav-list__anchor c-nav-list__anchor--social"
           target="_blank"
           href="https://www.youtube.com/playlist?list=PL37ZVnwpeshHJSJf46Rk4B8amvm7Ecu58">
          YouTube
        </a>
      </li>
    </ul>
  </nav>
</footer>
