<footer class="c-footer-global">
  <nav class="c-nav-pages">
    <ul class="c-nav-list c-nav-list--footer-global">
      <li>
        <a class="c-nav-list__anchor" href="/call-for-speakers">Call for Speakers</a>
      </li>
      <li>
        <a class="c-nav-list__anchor" href="/code-of-conduct">Code of Conduct</a>
      </li>
      <li>
        <a class="c-nav-list__anchor" href="/sponsors">Sponsors</a>
      </li>
      <li>
        <a class="c-nav-list__anchor"
           href="mailto:contact@cssconf.eu">
          contact@cssconf.eu
        </a>
      </li>
    </ul>
  </nav>
  <nav class="c-nav-social">
    <ul class="c-nav-list c-nav-list--footer-global">
      <li>
        <a class="c-nav-list__anchor"
           target="_blank"
           href="/">
          GitHub
        </a>
      </li>
      <li>
        <a class="c-nav-list__anchor"
           target="_blank"
           href="https://www.facebook.com/cssconfeu/">
          Facebook
        </a>
      </li>
      <li>
        <a class="c-nav-list__anchor"
           target="_blank"
           href="https://twitter.com/cssconfeu">
          Twitter
        </a>
      </li>
      <li>
        <a class="c-nav-list__anchor"
           target="_blank"
           href="https://plus.google.com/+CssconfEu/">
          Google+
        </a>
      </li>
      <li>
        <a class="c-nav-list__anchor"
           target="_blank"
           href="https://www.youtube.com/playlist?list=PL37ZVnwpeshF0XmpjKBJ3-0kvr3b5ZpJR">
          YouTube
        </a>
      </li>
      <li>
        <a class="c-nav-list__anchor"
           target="_blank"
           href="https://www.youtube.com/playlist?list=PL37ZVnwpeshF0XmpjKBJ3-0kvr3b5ZpJR">
        </a>
      </li>
    </ul>
  </nav>
</footer>
