<section>
  <div class="l-container">
    <div class="c-globe">
      <div class="c-globe__element-wrapper">
        {{ svgIcon('globe') }}

        <div class="c-globe__orb-1"></div>
        <div class="c-globe__orb-2"></div>
        <div class="c-globe__orb-3"></div>
      </div>
    </div>
    <p class="copy--mini copy--center">Part of the international <a href="http://cssconf.org/">CSSconf family</a></p>
  </div>
</section>
