{% from "../_macros.njk" import svgIcon %}

<header class="c-header-global">
  <a href="{{ env.config.baseUrl }}"
     class="c-header-global__link"
     title="Home">
    <span class="c-header-global__text--name">CSSconf EU</span>
    <span class="c-header__hide-on-mobile">
      <span class="c-header-global__text--date">Friday, June 1st 2018</span>
      <span class="c-header-global__text--location">Berlin, Germany</span>
    </span>
  </a>
  <nav class="c-nav-main">
    <ul class="c-nav-main__list">
      <li class="c-nav-main__list-el">
        <a class="c-nav-main__link" href="/sponsors">Sponsors</a>
      </li>
      <li class="c-nav-main__list-el">
        <a class="c-nav-main__link" href="/code-of-conduct">Code of Conduct</a>
      </li>
      <li class="c-nav-main__list-el">
        <a class="c-nav-main__link" href="/scholarships">Scholarships</a>
      </li>
    </ul>
    <button>Close</button>
  </nav>
  <button class="c-nav-main-toggle js-nav-main-toggle">Menu</button>
</header>
