{% extends "../layouts/default.html.njk" %}

{% block content %}
  <section class="c-intro">
    <div class="l-container">
      <h1 class="c-intro__title">Code Of Conduct</h1>
      <p class="c-intro__text copy--max">
        {{ contents.copy.coc['main.md'].metadata.introText }}
      </p>
    </div>
  </section>

  <div class="l-container">
    <main>
      <div class="markdown--indented-paragraphs">
        {{ contents.copy.coc['main.md'].html }}
      </div>


      <h2 class="fz--delta">Application Form</h2>
      <p class="paragraph--is-indented">
        The deadline for scholarship applications has now passed. If you applied for a scholarship, you will be notified
        about the outcome of your application in the coming weeks.
      </p>
      <h2 class="fz--delta">Contact</h2>
      <p class="paragraph--is-indented">
        If you have any questions please don’t hesitate to contact us at <a href="#">contact@cssconf.eu</a>. You can
        also follow us on Twitter and subscribe to our newsletter to stay up to date.
      </p>
    </main>
  </div>
{% endblock %}
