{% extends "../layouts/default.html.njk" %}

{% block content %}

  {{ contents.copy.index['header.md'].metadata.introText }}

  {{ contents.copy.index['cfs.md'].html }}

  {{ contents.copy.index['coc.md'].html }}

{% endblock %}
