{% extends "../layouts/default.html.njk" %}

{% from "../_macros.njk" import svgIcon %}

{% block content %}
<section class="c-stage c-stage--thank-you">
  <div class="l-container">
    <div class="c-stage__content">
      <h2 class="fz--delta">
        Thank You
      </h2>
      <p class="copy">
        To our incredible <a href="/team">team</a>, amazing <a href="/speakers">speakers</a>, great <a href="/sponsors">sponsors</a>, and
        <br>
        ❤️ YOU ❤️
        <br> for making CSSconf EU 2018 beautiful and inspiring.
      </p>
      <p>
        <a href="https://www.youtube.com/playlist?list=PL37ZVnwpeshHJSJf46Rk4B8amvm7Ecu58" target="_blank">Talk Videos</a> &bull; <a href="https://www.flickr.com/photos/126843898@N02/albums/72157669968373538" target="_blank">Photos</a> &bull; <a href="https://2019.cssconf.eu/" target="_blank">Upcoming CSSconf EU</a>
      </p>
    </div>
  </div>
</section>

{% include '../partials/speaker-gallery.html.njk' %}

<div class="c-arrow-block">
  <div class="l-container">
    <div>
      {{ contents.copy.home['cfs.md'].html }}
    </div>
  </div>
</div>

{% endblock %}
