{% extends "../layouts/default.html.njk" %}

{% from "../_macros.njk" import pageIntro %}

{% block content %}
  {% set data = contents.copy.scholarships['scholarships.md'] %}

  {{
    pageIntro(
      data.metadata.title,
      data.metadata.introText
    )
  }}

  <div class="l-container">
    <main>
      <div class="c-markdown c-markdown--indented-paragraphs">
        {{ contents.copy.scholarships['scholarships.md'].html }}
      </div>
    </main>
  </div>
{% endblock %}
