{% extends "../layouts/default.html.njk" %}

{% from "../_macros.njk" import pageIntro %}

{% block content %}
  {% set data = contents.copy.sponsors['sponsors.md'] %}

  {{
    pageIntro(
      data.metadata.title,
      data.metadata.introText,
      contents.images.intros[data.metadata.introImage].url
    )
  }}

  <div class="l-container l-container--xl">
    {% include '../partials/sponsors-gallery.html.njk' %}
  </div>

  <div class="l-container l-container--l">
    {% include '../partials/diversity-supporters.html.njk' %}
  </div>

  <div class="l-container">
    <main>
      <div class="markdown--indented-paragraphs">
        {{ contents.copy.sponsors['sponsors.md'].html }}
      </div>
    </main>
  </div>
{% endblock %}
