body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.l-wrapper {
  flex-grow: 1;
  overflow-x: hidden;
}

a {
  color: var(--c-cinnabar);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--c-illusion);
}
