body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body.is-nav-opened {
  overflow: hidden;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.l-wrapper {
  flex-grow: 1;
  overflow-x: hidden;
}

a {
  color: var(--c-cinnabar);
  text-decoration: none;
  &:hover,
  &:focus {
    color: var(--c-illusion);
  }
}
