a {
  text-decoration: none;
  color: var(--color-blue);
  &:hover, &:focus {
    color: var(--color-blue-70);
  }
}

.link--nav {
  display: block;
  padding-top: .5em; /* 7px */
  padding-bottom: .5em; /* 7px */
  color: var(--color-grey-dark);
  font-size: .875rem; /* 14px */
  line-height: 1.42857; /* 20px */
  &:hover, &:focus {
    color: var(--color-blue-light);
  }
  @media (--large-ish) {
    font-size: 1.125rem; /* 18px */
    line-height: 1.444444; /* 26px */
  }
}

.link--footer {
  color: var(--color-white);
  &:hover, &:focus {
    color: var(--color-yellow-50);
  }
}

.link--arrow {
  position: relative;
  padding-left: 2rem;
  &:before, &:after {
    content: '';
    position: absolute;
    top: calc(50% - .1rem);
    left: 0;
    display: block;
  }
  &:before {
    width: .7rem;
    height: .2rem;
    background-color: var(--color-blue);
  }
  &:after {
    width: 0;
    height: 0;
    top: calc(50% - .6rem);
    left: .7rem;
    border-width: .6rem .7rem;
    border-style: solid;
    border-color: transparent transparent transparent var(--color-blue);
  }
}

.link--button {
  display: inline-block;
  margin-top: -4px;
  margin-right: 4px;
  padding: .2em .5em;
  border: 2px solid var(--color-mint);
  background-color: var(--color-white);
  color: var(--color-plum);
  box-shadow: 4px 4px 0 -2px var(--color-white), 4px 4px 0 0 var(--color-mint);
  cursor: pointer;
  @media (--medium-ish) {
    padding: .25em .75em;
  }
}

.link--arrow-white {
  color: var(--color-white);
  &:before {
    background-color: var(--color-white);
  }
  &:after {
    border-color: transparent transparent transparent var(--color-white);
  }
  &:hover, &:focus {
    color: var(--color-mint);
    &:before {
      background-color: var(--color-mint);
    }
    &:after {
      border-color: transparent transparent transparent var(--color-mint);
    }
  }
}

.link__icon {
  display: inline-block;
  animation-play-state: paused;
}

.link__icon--rocket {
  animation-name: rocket;
  animation-duration: .1s;
  animation-iteration-count: infinite;
  padding-right: 5px; /* fix for cut-off emoji on non-retina displays */
}

.link--animated:hover .link__icon--rocket {
  animation-play-state: running;
}

.link--top-bar .link__icon {
  display: none;

  @media (--small-ish) {
    display: inline-block;
  }
}

@keyframes rocket {
  0% {
    transform: translateX(0) translateY(0);
  }

  50% {
    transform: translateX(1px) translateY(1px);
  }

  100% {
    transform: translateX(0) translateY(0);
  }
}
