/* don't @ me, it's late and this needs to get done. */
.c-stage {
  position: relative;
  padding-bottom: calc(var(--l-gutter) * 2);
  padding-top: calc(var(--l-gutter) * 2);

  margin-bottom: 16rem;

  background-image: url(../images/home-pattern.svg);
  height: 826px;
  border-bottom: 7px solid #191919;

  &__logo {
    color: #191919;
    font-size: 138px;
    font-weight: normal;
    margin-top: 0.6em;

    span {
      font-size: 0.4em;
      position: relative;
      top: -1.5em;
      left: 0.05em;
    }

    @media(--m) {
      font-size: 220px;
    }
  }

  &__facts {
    position: absolute;
    top: 0;
    left: calc(50vw - 760px / 2);
    width: 760px;

    font-size: 22px;
    @media(--s) {
      font-size: 44px;
      line-height: 1.25;

      &__loc {
        font-size: 28px;
      }
    }
  }

  .c-stage__facts__loc {
    color: var(--c-puerto-rico);
  }

  .c-stage__facts__heading {
    margin-top: 3rem;
  }

  .c-stage__facts__lol {
    @media(--s) {
      width: 90vw;
      transform: translateX(-60%);
    }
    @media(--stage-1) {
      width: 82vw;
      transform:
        translateX(-60%)
        translateY(10%)
      ;
    }
    @media(--stage-2) {
      width: 70vw;
      transform:
        translateX(-50%)
        translateY(20%)
      ;
    }
    @media(--stage-3) {
      width: 64vw;
      transform:
        translateX(-54%)
        translateY(28%)
      ;
    }
    @media(--stage-4) {
      width: 50vw;
      max-width: 36rem;
      transform:
        translateX(-54%)
        translateY(34%)
      ;
    }
  }

  &__facts-bg {
    width: 100%;
  }

  &__facts-content {
    position: absolute;
    top: 600px;
    left: 50%;
    width: 100vw;
    padding: 0 2rem;
    transform: translateX(-50%);

    @media(--s) {
      transform: none;
      width: 50vw;
      max-width: 380px;
      top: 380px;
    }
  }
}
