/* the color inheritance is necessary to overwrite the links style with the utility classes we use for personalized speaker colors */
.speaker-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  text-align: left;
  color: inherit;
  &:hover, &:focus {
    color: var(--color-white);
    background-color: var(--color-blue-dark);
  }
}

.speaker-item__title {
  margin-top: 1rem;
  font-size: 1.375rem;
  line-height: 1;
  @media (--small-ish) {
    font-size: 1.75rem;
  }
  @media (--medium-ish) {
    font-size: 3rem;
    margin-top: 2rem;
  }
}

.speaker-item__location {
  margin-left: .1rem;
}
