.c-nav-main {
  position: absolute;
  height: calc(100vh - 57px);
  top: 57px;
  background-color: var(--c-martinique);
  display: none;
  width: calc(100%  + 2rem);
  z-index: 1;
  left: 0;
  padding: 1rem;

  @media(--m) {
    background-color: var(--c-white);
    display: block;
    height: auto;
    position: relative;
    top: 0;
    margin-left: -1rem;
    margin-bottom: -1rem;
    border-bottom: 5px solid var(--c-black);
  }
}

.is-nav-opened .c-nav-main {
  display: block;
}

.c-nav-main__list {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.c-nav-main__list-el {
  margin-bottom: .5rem;

  @media(--m) {
    display: inline-block;
    margin-bottom: 0;
  }
}

.c-nav-main__list-el:not(:first-child) {
  @media(--m) { margin-left: 1rem; }
}

.c-nav-main__link {
  color: var(--c-bright-sun);

  @media(--m) { color: var(--c-cinnabar); }
}

.c-nav-main__list-el,
.c-nav-main__close {
  font-size: 1.3125rem;
  line-height: 1.619047619;

  @media(--m) {
    font-size: 1.125rem;
    line-height: 1.4;
  }
}

.c-nav-main__close {
  background-color: transparent;
  border: 0;
  color: var(--c-white);
  margin: 0;
  padding: 0;

  @media(--m) { display: none; }
}
