.c-btn {
  background-color: var(--c-puerto-rico);
  border: 0;
  border-radius: 0;
  color: var(--c-blue-violet);
  cursor: pointer;
  padding: var(--l-unit) calc(var(--l-unit) * 2);
  text-align: center;
}

.c-btn:hover {
  outline: 2px solid var(--c-white);
}

.btn-block {
  text-align: center;
  padding: 2rem 0;
}
