.c-speaker-portrait {
  --border-size: 3px;

  position: relative;
  border: var(--border-size) solid var(--c-black);
  background-color: var(--color);
  width: 100%;
  height: 100%;

  &--variant-a {
    --color: var(--c-blue-violet);
  }

  &--variant-b {
    --color: var(--c-puerto-rico);
  }

  &--variant-c {
    --color: var(--c-cinnabar);
  }

  &--variant-d {
    --color: var(--c-illusion);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    border: 1rem solid var(--color);
    border-right-width: 2rem;
    border-left-width: 2rem;
  }

  &__image {
    display: block;
    height: 100%;
    width: 100%;
  }
}
