.mobile-menu {

  @media (min-width: 50em) {
    display: none;
  }
}

.mobile-menu__control {
  display: block;
  height: 1.5rem;
  padding: 0 .5rem;
  margin-left: 1rem;
}

.mobile-menu__control--active {
  margin-top: .1rem;
}

.mobile-menu__control .svg {
  height: 100%;
}

.mobile-menu__state {
  display: none;
}

.mobile-menu__state:checked ~ .mobile-menu__container {
  display: flex;
}

.mobile-menu__header {
  display: flex;
  justify-content: space-between;
}

.mobile-menu__title {
  margin-top: .1rem;
}

.mobile-menu__container {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--color-white);
  padding: 1rem;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-menu__links {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1.75rem;
}

.mobile-menu__links-item {
  padding: 0;
}

.mobile-menu__link {
  color: var(--color-grey-dark);
  text-transform: uppercase;
}

.mobile-menu__link:hover {
  color: var(--color-blue);
}
