.speaker {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.speaker__text, .speaker__image {
  display: inline-block;
  text-align: left;
}

.speaker__text {
  z-index: 1;
}

.speaker__name {
  margin-bottom: 0;
}

.speaker__location {
  margin-left: .4rem;
}

.speaker__image {
  position: relative;
  width: 15rem;
  transform: translate(-1.8rem);
  @media (--xsmall-ish) {
    height: 18.125rem;
  }
}

.speaker__image img {
  box-shadow: 0 0 6rem rgba(43, 43, 43, 0.55);
  height: auto;
}

.speaker__shapes { position: absolute; }
.speaker__shapes--one-before {
  left: -2.3rem;
  top: -1.8rem;
  width: 5rem;
  z-index: -1;
}

.speaker__shapes--one-after {
  bottom: .5rem;
  right: -2.5rem;
  width: 5rem;
  z-index: 1;
}

.speaker__talk-info {
  padding: 1.7143rem;
  margin-bottom: 1.7143rem;
}
.speaker__link-list {
  list-style-type: none;
  padding: 0;
}
.speaker__link-list .speaker__link {
  display: inline-block;

  &:after { content: ' | '; }
  &:last-child:after { display: none; }
}

.speaker--tim-holman .speaker__shapes--one-before {
  left: -1.4rem;
  top: -1rem;
  width: 3.75rem;
  @media (--small-ish) {
    left: -2.8rem;
    top: -2rem;
    width: 6.5rem;
  }
}

.speaker--tim-holman .speaker__shapes--one-after {
  bottom: .5rem;
  right: -1.25rem;
  width: 2.5rem;
  @media (--small-ish) {
    bottom: .5rem;
    right: -2.5rem;
    width: 5rem;
  }
}

.speaker--jessica-lord .speaker__shapes--one-before {
  left: -2.4rem;
  top: -1.65rem;
  width: 3.75rem;
  @media (--small-ish) {
    left: -4.8rem;
    top: -3.3rem;
    width: 7.5rem;
  }
}

.speaker--jessica-lord .speaker__shapes--one-after {
  bottom: .5rem;
  right: -1.25rem;
  width: 2.5rem;
  @media (--small-ish) {
    bottom: .5rem;
    right: -2.5rem;
    width: 5rem;
  }
}

.speaker--nadieh-bremer .speaker__shapes--one-before {
  left: -1.5rem;
  top: -1.25rem;
  width: 2.9rem;
  @media (--small-ish) {
    left: -3rem;
    top: -2.5rem;
    width: 5.8rem;
  }
}

.speaker--nadieh-bremer .speaker__shapes--one-after {
  bottom: .5rem;
  right: -1.25rem;
  width: 2.5rem;
  @media (--small-ish) {
    bottom: .5rem;
    right: -2.5rem;
    width: 5rem;
  }
}

.speaker--sareh-heidari .speaker__shapes--one-before {
  left: -1.505rem;
  top: -1.5rem;
  width: 3.125rem;
  @media (--small-ish) {
    left: -3.1rem;
    top: -3rem;
    width: 6.25rem;
  }
}

.speaker--sareh-heidari .speaker__shapes--one-after {
  bottom: .5rem;
  right: -1rem;
  width: 2rem;
  @media (--small-ish) {
    bottom: 1rem;
    right: -2rem;
    width: 4rem;
  }
}

.speaker--shirley-wu .speaker__shapes--one-before {
  left: -1.7rem;
  top: -1.65rem;
  width: 3.5rem;
  @media (--small-ish) {
    left: -3.4rem;
    top: -3.3rem;
    width: 7rem;
  }
}

.speaker--shirley-wu .speaker__shapes--one-after {
  bottom: .5rem;
  right: -1.2rem;
  width: 2.4rem;
  @media (--small-ish) {
    bottom: 1rem;
    right: -2.4rem;
    width: 4.8rem;
  }
}

.speaker--david-khourshid .speaker__shapes--one-before {
  left: -2.15rem;
  top: -2rem;
  width: 3.85rem;
  @media (--small-ish) {
    left: -4.3rem;
    top: -4rem;
    width: 7.7rem;
  }
}

.speaker--david-khourshid .speaker__shapes--one-after {
  bottom: -.5rem;
  width: 4rem;
  right: -2rem;
  @media (--small-ish) {
    bottom: -1.5rem;
    right: -5.4rem;
    width: 8.5rem;
  }
}

.speaker--ivana-mc-connell .speaker__shapes--one-before {
  left: -1.75rem;
  top: -.9rem;
  width: 2.5rem;
  @media (--small-ish) {
    left: -3.5rem;
    top: -1.8rem;
    width: 5rem;
  }
}

.speaker--ivana-mc-connell .speaker__shapes--one-after {
  bottom: -.3rem;
  right: -1.7rem;
  width: 3.4rem;
  @media (--small-ish) {
    right: -3.4rem;
    width: 6.8rem;
  }
}

.speaker--patrick-hamann .speaker__shapes--one-before {
  left: -1.9rem;
  top: -1.75rem;
  width: 3.125rem;
  @media (--small-ish) {
    left: -3.8rem;
    top: -3.5rem;
    width: 6.25rem;
  }
}

.speaker--patrick-hamann .speaker__shapes--one-after {
  bottom: .5rem;
  right: -.9rem;
  width: 1.875rem;
  @media (--small-ish) {
    bottom: 1rem;
    right: -1.8rem;
    width: 3.75rem;
  }
}

.speaker--mark-dalgleish .speaker__shapes--one-before {
  left: -1.9rem;
  top: -1.4rem;
  width: 3.125rem;
  @media (--small-ish) {
    left: -3.8rem;
    top: -2.8rem;
    width: 6.25rem;
  }
}

.speaker--mark-dalgleish .speaker__shapes--one-after {
  bottom: .5rem;
  right: -.9rem;
  width: 1.875rem;
  @media (--small-ish) {
    bottom: 1rem;
    right: -1.8rem;
    width: 3.75rem;
  }
}

.speaker--rachel-andrew .speaker__shapes--one-before {
  left: -1.525rem;
  top: -1.525rem;
  width: 3.125rem;
  @media (--small-ish) {
    left: -3.05rem;
    top: -3.05rem;
    width: 6.25rem;
  }
}

.speaker--rachel-andrew .speaker__shapes--one-after {
  bottom: .9rem;
  right: -1.1rem;
  width: 2.2rem;
  @media (--small-ish) {
    bottom: 1.8rem;
    right: -2.2rem;
    width: 4.4rem;
  }
}

.speaker--una-kravets .speaker__shapes--one-before {
  left: -1.7rem;
  top: -1.6rem;
  width: 3.125rem;
  @media (--small-ish) {
    left: -3.4rem;
    top: -3.2rem;
    width: 6.25rem;
  }
}

.speaker--una-kravets .speaker__shapes--one-after {
  bottom: .35rem;
  right: -1.45rem;
  width: 2.9rem;
  @media (--small-ish) {
    bottom: .7rem;
    right: -2.9rem;
    width: 5.8rem;
  }
}

.speaker--max-stoiber .speaker__shapes--one-before {
  left: -1.9rem;
  top: -1.1rem;
  width: 3.2rem;
  @media (--small-ish) {
    left: -3.8rem;
    top: -2.2rem;
    width: 6.4rem;
  }
}

.speaker--max-stoiber .speaker__shapes--one-after {
  bottom: .6rem;
  right: -.75rem;
  width: 1.5rem;
  @media (--small-ish) {
    bottom: 1.2rem;
    right: -1.5rem;
    width: 3rem;
  }
}

.speaker--guil-hernandez .speaker__shapes--one-before {
  left: -2.5rem;
  top: -2.5rem;
  width: 5rem;
  @media (--small-ish) {
    left: -5rem;
    top: -5rem;
    width: 10rem;
  }
}

.speaker--guil-hernandez .speaker__shapes--one-after {
  bottom: .5rem;
  right: -1.25rem;
  width: 2.5rem;
  @media (--small-ish) {
    bottom: 2.2rem;
    right: -2.5rem;
    width: 5rem;
  }
}

.speaker--patricia-realini .speaker__shapes--one-before {
  left: -1.4rem;
  top: -1.5rem;
  width: 3rem;
  @media (--small-ish) {
    left: -2.8rem;
    top: -3rem;
    width: 6rem;
  }
}

.speaker--patricia-realini .speaker__shapes--one-after {
  bottom: .25rem;
  right: -1.5rem;
  width: 3rem;
  @media (--small-ish) {
    bottom: .5rem;
    right: -3rem;
    width: 6rem;
  }
}
