.c-speakers {
  margin-top: 2.75rem;

  @media (--s) {
    margin-top: 8.75rem;
  }

  &__title {
    color: var(--c-illusion);
    margin-bottom: -.625rem;
  }

  &__title,
  &__text {
    text-align: center;
  }
}
