.header {
  margin-top: var(--height-top-bar);
  padding-top: 2rem;
  padding-bottom: 2rem;
  @media (--medium-ish) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  @media (--large-ish) {
    margin-top: calc(1.25 * var(--height-top-bar));
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.header--speaker {
  background-image: url(/assets/zigzag-bg.svg);
  background-size: cover;
}
