.c-globe {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: var(--l-gutter);
  margin-top: calc(var(--l-gutter) * 3);
  z-index: 1;
}

.c-globe__element-wrapper {
  position: relative;
}

.svg-globe {
  height: 6rem;
  position: relative;
  width: 6rem;
  z-index: 2;
}

.c-globe__orb,
[class*='c-globe__orb'] {
  border-radius: 50%;
  position: absolute;
}

.c-globe__orb-1 {
  animation: GYRATE 5s infinite ease-in-out;
  background-color: var(--c-cinnabar);
  height: 2rem;
  left: -4.2rem;
  top: 0;
  width: 2rem;
}

.c-globe__orb-2 {
  animation: GYRATE 4s infinite ease-in-out;
  background-color: var(--c-puerto-rico);
  height: 1rem;
  left: -3rem;
  top: 4rem;
  width: 1rem;
}

.c-globe__orb-3 {
  animation: GYRATE 6s infinite ease-in-out;
  background-color: var(--c-blue-violet);
  height: 1.5rem;
  left: -3.9rem;
  top: 2.4rem;
  width: 1.5rem;
}

@keyframes GYRATE {
  0% {
    z-index: 3;
    transform: translateX(0) scale(1);
  }

  50% {
    transform: translateX(13rem) scale(1);
  }

  100% {
    transform: scale(1) translateX(0);
    z-index: 1;
  }
}
