/* don't touch this */

.visuals {
  overflow: hidden;
  .container {
    /*border: 1px dotted yellow;*/
    position: relative;
  }
}

.visuals__canvas {
  /*border: 1px dotted red;*/
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  .svg {
    position: absolute;
  }
}

.visuals__overlay {
  position: relative;
  z-index: 2;
}

/* start defining your artboards here */

/* visual on top of sponsor page */
.visuals--01 {
  .svg-blue-bolt {
    width: 90vw;
    right: 45%;
    bottom: -5%;
    @media (--small-ish) {
      right: 40%;
      bottom: -7%;
    }
    @media (--medium-ish) {
      width: 70vw;
      bottom: -12%;
    }
    @media (--large-ish) {
      width: 60vw;
      bottom: -12%;
    }
  }
  .svg-tri-triangles-a {
    width: 10%;
    right: 4%;
    bottom: 0;
    @media (--medium-ish) {
      width: 15%;
      right: 16%;
    }
  }
  .svg-circle {
    width: 20%;
    right: 0;
    top: 0;
    @media (--medium-ish) {
      width: 16%;
    }
  }
}


/* visual on 2017.cssconf.eu landing page */

.visuals--02 {
  &.header {
    padding-top: 0;
  }
  svg {
    max-height: 10rem; /* for IE11 */
  }
  .svg-cssconfeu-logo-2017 {
    max-width: 26rem;
    width: 100%;
    max-height: 25rem; /* for IE11 */
    padding-top: 1rem;
    padding-bottom: 1rem;
    @media (--small-ish) {
      padding-top: 4rem;
      padding-bottom: 2rem;
    }
    @media (--medium-ish) {
      max-width: 30rem;
      padding-top: 4rem;
    }
    @media (--large-ish) {
      padding-top: 5rem;
    }
  }
  .svg-start-blue-finger {
    width: 22%;
    max-width: 7rem;
    max-height: 7rem; /* for IE11 */
    top: 0;
    left: calc(50% - 3.5rem);
    @media (--small-ish) {
      left: 33%;
    }
  }
  .svg-start-red-thumb {
    width: 9%;
    max-width: 5rem;
    max-height: 5rem; /* for IE11 */
    top: -12%;
    right: calc(50% - 4rem);
    @media (--small-ish) {
      top: 0;
      right: 30%;
    }
  }
  .svg-start-donut {
    width: 15%;
    max-width: 6.5rem;
    bottom: 15%;
    left: 2%;
    @media (--small-ish) {
      left: 7%;
    }
    @media (--medium-ish) {
      max-width: 5.5rem;
      bottom: 22%;
      left: 10%;
    }
  }
  .svg-start-tiny-triangle {
    width: 8%;
    max-width: 2.5rem;
    bottom: 1%;
    left: calc(50% - 1rem);
    @media (--small-ish) {
      bottom: 6%;
      left: 22%;
    }
    @media (--medium-ish) {
      bottom: 12%;
      left: 18%;
    }
  }
  .svg-start-circle {
    width: 3.5%;
    top: 17%;
    right: 12%;
  }
  .svg-start-arc-1 {
    width: 17%;
    max-width: 9rem;
    top: 7%;
    right: 5%;
  }
  .svg-start-blue-arc {
    width: 16%;
    bottom: 15%;
    right: 2%;
    transform: rotate(-10deg);
    @media (--medium-ish) {
      width: 15%;
      bottom: 14%;
      right: 0;
    }
  }
  .svg-start-green-gradient {
    width: 6%;
    bottom: -14%;
    right: -20%;
    @media (--medium-ish) {
      bottom: 6%;
      right: 20%;
    }
  }
  .svg-start-arc-2 {
    width: 24%;
    max-height: 12rem; /* for IE11 */
    bottom: -25%;
    left: -28%;
    @media (--medium-ish) {
      bottom: 5%;
      left: 0;
    }
  }
  .svg-start-triangle-group {
    width: 20%;
    max-width: 10rem;
    top: 10%;
    left: 2%;
    @media (--small-ish) {
      top: 12%;
      left: 5%;
    }
  }

  /* animate donut to spin around */
  .svg-start-donut {
    z-index: 10;
    transition: transform 1s ease-in-out;
    &:hover {
      transform: rotate(720deg);
    }
  }

  /* animate blue arc to gently rotate – problem: transform origin */
  .svg-start-blue-arc {
    z-index: 10;
    transition: transform 1s ease-in-out;
    transition-timing-function: cubic-bezier(1,-0.4,0.29,1.39);
    &:hover {
      transform: rotate(10deg);
    }
  }

  /* animate blue finger to move out a little bit when hovered */
  .svg-start-blue-finger {
    z-index: 10;
    transition: transform .2s ease-in-out;
    &:hover {
       transform: translate(-5%, -7%);
    }
  }
}
