.package {
  margin-bottom: 1em;
  h2 {
    margin-bottom: 0;
  }
}

.package__number {
  text-align: center;
  color: var(--color-blue);
  font-family: var(--ff-sans-serif-medium);
  font-size: 4rem;
  line-height: .65;
  margin-bottom: -.5rem;
  @media (--small-ish) {
    font-size: 8rem;
    line-height: .65;
    margin-bottom: -3rem;
    margin-right: -1rem;
  }
  @media (--medium-ish) {
    font-size: 12rem;
    line-height: .65;
    margin-bottom: -5.5rem;
  }
}

.package__body {
  background-color: var(--color-off-white);
  margin-bottom: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.package__tagline {
  float: left;
  font-size: 1.5rem;
  margin-right: 1em;
  margin-bottom: .5rem;
}

.package__price {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.package__price--overview {
  font-size: 1.125rem;
  margin-bottom: 0;
}

.package__overview {
  background-color: var(--color-mint);
  color: var(--color-white);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 10rem;
  padding: 0 1.5rem 1rem;
  position: relative;
}

.package__overview--festival-lounge {
  background-color: var(--color-salmon);
}

.package__overview--main-party-sponsor {
  background-color: var(--color-blue);
}

.package__overview--coffee-bar {
  background-color: var(--color-yolk);
}

.package__overview--video-package {
  background-color: var(--color-green);
}

.package__overview--tote-bags {
  background-color: var(--color-red);
}

.package__overview--small-sponsor-booth {
  background-color: var(--color-mint);
}

.package__overview--drinks-sponsor {
  background-color: var(--color-rose);
}

.package__overview--diversity-ticket {
  background-color: var(--color-plum);
}

.package__ribbon {
  position: absolute;
  top: .75rem;
  right: 1rem;
  font-size: .825rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, .6);
}

.package__details {
  padding: 1.25rem 2rem 0;
}

.package__features {
  clear: both;
  list-style: none;
  padding-left: 0;
}

.package__feature {
  padding-left: 1.5rem;
  background-image: url('/assets/svg/check.svg');
  background-repeat: no-repeat;
  background-size: .875rem;
  background-position: 0 .8rem;

  /* mini mixin */
  font-size: .875rem; /* 14px */
  line-height: 1.7143; /* 24px */

  @media (--small-ish) {
    font-size: .875rem; /* 14px */
    line-height: 1.57143; /* 22px */
  }
}

.package__alert {
  color: var(--color-white);
  background: var(--color-salmon);
  overflow: hidden;
  margin-bottom: 4rem;
  .package__alert-title {
    float: left;
    padding: .25rem 1rem;
    background: var(--color-red);
  }
  .svg {
    float: left;
    width: 1.5rem;
    max-height: 1.5rem;
    margin-right: .5rem
  }
  .package__alert-content {
    padding: .25rem 1rem;
    float: left;

    /* mini mixin */
    font-size: .875rem; /* 14px */
    line-height: 1.7143; /* 24px */

    @media (--small-ish) {
      font-size: .875rem; /* 14px */
      line-height: 1.57143; /* 22px */
    }
  }
}

.package--add-on {
  height: 100%;
  margin-bottom: 0;
}

.package--soldout {
  opacity: .55;
  .package__header {
    position: relative;
    z-index: 1;
  }
  .package__body {
    margin-bottom: 0;
  }
}

.package__alert--add-on {
  background-color: var(--color-white-grey);
  margin-bottom: 0;
  .package__alert-title {
    background-color: transparent;
    color: rgba(43, 43, 43, .5);
    float: right;
    font-size: 75%;
    text-transform: uppercase;
  }
}
