.c-stage {
  position: relative;
  margin-bottom: calc(var(--l-gutter) * 2);
  padding-bottom: calc(var(--l-gutter) * 2);
  padding-top: calc(var(--l-gutter) * 2);

  background: url(../images/header-bg-pattern.svg);
  height: 826px;
  box-sizing: border-box;
  border-bottom: 7px solid #191919;

  &__logo {
    color: black;

    span {
    }
  }

  &__facts {
    position: absolute;
    top: 0;
    left: calc(50vw - 760px / 2);
    width: 760px;
  }
}
