:root {
  --bgi-ratio-width: 16;
  --bgi-ratio-height: 9;
}

.bgi {
  left: calc(-(var(--fraction) * 4));
  position: relative;
  width: 100vw;

  @media (--large-ish) {
    left: calc((-100vw + 46.875rem - (var(--fraction) * 8)) / 2);
  }

  &::before {
    @media (--medium-ish) {
      content: '';
      display: block;
      padding-top: calc((var(--bgi-ratio-height) / var(--bgi-ratio-width)) * 100%);
    }
  }
}

.bgi__el {
  margin-bottom: calc(var(--fraction) * 3);

  @media (--medium-ish) {
    margin-bottom: 0;
    position: absolute;
    top: 0;
  }
}

.bgi__fig {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  text-align: center;

  @media (--medium-ish) {
    bottom: 0;
    color: white;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.bgi__fig > * { max-width: 90%; }

.img-120 {
  left: calc(-(var(--fraction) * 4));
  position: relative;
  width: 100vw;

  @media (--large-ish) {
    left: calc((-120% + 100% ) / 2);
    width: 120%;
  }
}

figure:not(.bgi) > img { border-radius: .125rem; }
