@custom-media --xs (width >= 24rem);
@custom-media --s (width >= 30rem);
@custom-media --m (width >= 48rem);
@custom-media --l (width >= 64rem);
@custom-media --xl (width >= 80rem);
@custom-media --xxl (width >= 100rem);
@custom-media --xxxl (width >= 112rem);

@custom-media --stage-1 (width >= 33rem);
@custom-media --stage-2 (width >= 38rem);
@custom-media --stage-3 (width >= 40rem);
@custom-media --stage-4 (width >= 49rem);
