.font-regular {
  font-family: var(--ff-sans-serif-medium);
}

.font-medium {
  font-family: var(--ff-sans-serif-regular);
}

.tl { text-align: left; }
.tr { text-align: right; }
.tc { text-align: center; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table
}
.clearfix:after { clear: both }

.left  { float: left }
.right { float: right }

.fit { max-width: 100% }

.dev-grid {
  background-color: transparent;
  background-image:
    linear-gradient(0deg, transparent 22px, rgba(255,100,0,.4) 23px, transparent 24px),
    linear-gradient(90deg, rgba(100,0,255,.2) 70px, transparent 71px);
  background-size: 92px 24px;
}

.local-anchor {
  display: block;
  position: relative;
  top: -3.75rem;
  visibility: hidden;
}
