/* Vendor */
@import "tachyons/css/tachyons.css";

/* Settings */
@import "_settings.colors.css";
@import "_settings.grid.css";
@import "_settings.typography.css";
@import "_settings.mediaqueries.css";

/* Base */
@import "_base.grid.css";
@import "_base.page.css";
@import "_base.typography.css";

/* Components */
@import "_components.arrow-block.css";
@import "_components.btn.css";
@import "_components.footer-global.css";
@import "_components.globe.css";
@import "_components.header-global.css";
@import "_components.intro.css";
@import "_components.nav-main.css";
@import "_components.nav-main-toggle.css";
@import "_components.nav-list.css";
@import "_components.nav-pages.css";
@import "_components.nav-social.css";
@import "_components.markdown.css";
@import "_components.stage.css";
@import "_components.paragraph-indent.css";
/* Utilities */

/* Page specific styles */
@import "_pages.coc.css";
