{% macro svgIcon(id, viewBox = '0 0 16 16', title = '') %}
    <svg class="svg svg-{{ id }}" viewbox="{{ viewBox }}">
        {% if title %}
            <title id='title-{{ id }}'>{{ title }}</title>
        {% endif %}

        <use xlink:href="#{{ id }}"></use>
    </svg>
{% endmacro %}

{% macro navItem(label, link, external) %}
  <li class="c-nav-main__list-el">
    <a class="c-nav-main__link" href="{{ link }}" {{ "target=\"_blank\"" if external }}>{{ label }}</a>
  </li>
{% endmacro %}

{% macro speakerPortrait(speaker, speakerImage) %}
  <div class="c-speaker-portrait c-speaker-portrait--variant-{{ speaker.variant }}">
    <img class="c-speaker-portrait__image"
         src="{{ speakerImage }}"
         alt="Photo of {{ speaker.name }}">
  </div>
{% endmacro %}

{% macro pageIntro(title, introText, introImage) %}
  <section class="c-intro {{ "c-intro--with-image" if introImage }}">
    <div class="l-container">
      <div class="c-intro__wrapper">
        {% if introImage %}
          <img src="{{ introImage }}"
              class="c-intro__image">
        {% endif %}
        <h1 class="c-intro__title">{{ title }}</h1>
      </div>
      <p class="c-intro__text copy--max">
        {{ introText }}
      </p>
    </div>
  </section>
{% endmacro %}

{% macro teamMemberPortrait(teamMember, teamMemberImage) %}
  <div class="c-team__person c-team__person--variant-{{ teamMember.variant }}">
    <img class="c-team__avatar"
        src="{{ teamMemberImage }}"
        alt="Photo of {{ teamMember.firstname }} {{ teamMember.lastname }}">
    <div class="c-team__caption">
      <h4 class="c-team__name">{{ teamMember.firstname }} {{ teamMember.lastname }}</h4>
      {% if teamMember.description %}
        <p class="c-team__description">{{ teamMember.description }}</p>
      {% endif %}
      {% if teamMember.twitterHandle %}
        <a class="c-team__link" href="https://twitter.com/{{ teamMember.twitterHandle }}" target="_blank">@{{ teamMember.twitterHandle }}</a>
      {% endif %}
    </div>
  </div>
{% endmacro %}
